<div layout="column" flex>

    <h3>{{ "TODO_LIST_WELCOME" | translate }}</h3>

    <md-list flex ng-if="!$ctrl.isLoadingData">
        <todo ng-repeat="todo in $ctrl.todos" todo="todo"></todo>
    </md-list>

    <md-button class="md-button md-fab md-fab-bottom-right" ng-click="$ctrl.addTodo()" aria-label="Add todo">
        <md-icon md-font-icon="md">add</md-icon>
    </md-button>

    <!-- todo: clean code below -->
    <!--<div layout="row">-->
        <!--<div flex style="background-color: #037BFF;">Fitodoitem in row</div>-->
        <!--<div flex style="background-color: gold;">Sectodoitem in row</div>-->
    <!--</div>-->

    <!--<div layout="row" layout-xs="column" style="background-color: green;">-->
        <!--<div flex="33" flex-md="50%" style="background-color: gray">one</div>-->
        <!--<div flex="33" layout="column">-->

            <!--&lt;!&ndash; 20% of height &ndash;&gt;-->
            <!--<div flex  flex-md="20" hide-lg         style="background-color: purple">two_one</div>-->

            <!--&lt;!&ndash; 60% of height &ndash;&gt;-->
            <!--<div flex  flex-md="60" hide-md show    style="background-color: red;">two_two</div>-->

            <!--&lt;!&ndash; 20% of height &ndash;&gt;-->
            <!--<div flex  flex-md="20"                 style="background-color: darkorange">two_three</div>-->
        <!--</div>-->
        <!--<div flex>three</div>-->
    <!--</div>-->

    <!--<div style="background-color: blue;">-->
        <!--<div layout="row">-->
            <!--<div flex style="background-color: purple;">one</div>-->
            <!--<div flex style="background-color: red;">two</div>-->
        <!--</div>-->
        <!--<div layout="column">-->
            <!--<div flex style="background-color: purple;">one</div>-->
            <!--<div flex style="background-color: red;">two</div>-->
        <!--</div>-->
    <!--</div>-->
</div>

