// -------------------------------------------------------
// Colors

$app-black:        #333333;
$app-white:        #FFFFFF;
$app-blue-1:       #337AB7 !default;
$app-blue-2:       #336699 !default;
$app-blue-3:       #3398CC !default;
$app-blue-4:       #004A99 !default;
$app-blue-5:       #037BFF !default;
$app-red-1:        #993333 !default;
$app-red-2:        #653331 !default;
$app-red-3:        #990000 !default;
$app-red-4:        #D7104E !default;
$app-gray-1:       #EBEBEB !default;
$app-gray-2:       #666666 !default;
$app-gray-3:       #999999 !default;
$app-gray-4:       #CCCCCC !default;
$app-gray-5:       #979888 !default;
$app-gray-6:       #F0EFF5 !default;
$app-gray-7:       #F7F7F7 !default;
$app-orange-1:     #FF9900 !default;
$app-orange-2:     #FB6600 !default;
$app-orange-3:     #D38A0A !default;
$app-orange-4:     #F07F0D !default;
$app-orange-5:     #F57324 !default;
$app-green-1:      #00B233 !default;
$app-transparent:  transparent;