<div>
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">

            <!--<md-button class="md-icon-button" ng-click="$ctrl.example()" aria-label="Settings">-->
                <!--<md-icon md-font-icon="md">home</md-icon>-->
            <!--</md-button>-->
            <!--<h2 flex md-truncate>Title</h2>-->

            <md-nav-bar
                md-selected-nav-item="$ctrl.currentNavItem"
                nav-bar-aria-label="navigation links">
                <md-nav-item md-nav-sref="todo-list" name="todos" value="todos">
                    {{ "TODOS" | translate }}
                </md-nav-item>
                <md-nav-item md-nav-sref="contact-list" name="contacts" value="contacts">
                    {{ "CONTACTS" | translate }}
                </md-nav-item>
            </md-nav-bar>
        </div>
    </md-toolbar>
</div>