<div layout="column" flex md-sroll-y>

    <h3>{{ "CONTACT_LIST_WELCOME" | translate }}</h3>

    <md-list flex ng-if="$ctrl.showData">
        <contact ng-repeat="contact in $ctrl.contacts" contact="contact"></contact>
    </md-list>

    <div layout="row" layout-align="space-around">
        <md-progress-circular ng-show="$ctrl.isLoadingData" md-mode="indeterminate"></md-progress-circular>
        <md-button class="md-primary" ng-show="$ctrl.hasNoData">{{ "NO_RESULT" | translate }}</md-button>
        <md-button class="md-primary" ng-show="$ctrl.shouldRetry" ng-click="$ctrl.loadModule()">{{ "RETRY" | translate }}</md-button>
    </div>

    <md-button class="md-button md-fab md-fab-bottom-right icon-button" ng-show="$ctrl.showData" ng-click="$ctrl.addContact()" aria-label="Add contact">
        <md-icon md-font-icon="md">add</md-icon>
    </md-button>

    <md-button class="md-button md-fab md-fab-bottom-right icon-button" ng-show="$ctrl.shouldRetry" ng-click="$ctrl.loadModule()" aria-label="Add contact">
        <md-icon md-font-icon="md">file_download</md-icon>
    </md-button>
</div>

